@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,100&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  overflow-x: clip;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
